{% extends 'base.html' %}

{% block bodyblock %}
<!-- 12 -->
<div class="container">
    <div class="row">
        <div class="col">
            <br><br>
            <!-- form : upload the image -->
            <h3 class="display-8" >Fake Face Image Detection</h3>
            <p>Upload an image (.jpg, .jpeg, .png), our model will 
                detect the image is real or fake
            </p>
            <!-- upload image form -->
            <form action="#" method="POST" enctype="multipart/form-data">
                <div class="input-group">
                    <input type="file" class="form-control" name="image_name" required>
                    <input type="submit" value="Upload & Detect" class="btn btn-outline-primary">

                </div>
            </form>

        </div>
        <div class="col-8">
            <!-- report: prediction image, reporting (grayscale, eigen image and probability score) -->
            {% if fileupload %}
            <br><br>
            <!-- predicted image -->
            <h2 class="display-8">{{ detection }} IMAGE</h2>
            <img src="/static/upload/{{ filename}}" class="display-8 image-fluid" alt="Fake Face Image Detection">
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}